
<html>

<head>
    <title> YOUR FORTUNE </title>


</head>

<body>
 <p>This page will let you know your fortune!</p> 
  <form action="/home" method="POST">
    <input type="text" name="birth-month" placeholder="write your birth month please:">

<input type="submit" value="Submit">
</form>

  <h1> </h1>
  
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIJOVwbn71SPCQD98HNTOtXOu1ASV5YvrJdszjTEwBt9lCCzvSWZA_yR8cP2ktNMtAy6Y&usqp=CAU"width="400" />
  


  <h2></h2>
    

</body>

</html>

