<html>

<head>
    <title> SIGN UP PAGE </title>


</head>

<body>
 <p></p> 
  <form action="/" method="POST">
    <input type="text" name="email" placeholder="write your Email here please:">
    <input type="text" name="password" placeholder="write your Passwordhere please:">
    <input type="text" name="full_name" placeholder="write your full name here please:">
    <input type="text" name="username" placeholder="write your username here please:">

<input type="submit" value="Submit">
</form>

  <h1> </h1>
  
  <a href= "/signin" >"Already have an account? Sign in here."</a>
  


  <h2></h2>
    

</body>

</html>